body{
  background-color: rgb(2, 26, 41);
}

header{
  background-color: rgb(27, 52, 66);
  text-align: center;
  padding: 50px;
  border-radius: 28px;
}

h1.Title{
  font-size: 44px;
  color: #ffffff;
}

main{
  background-color: rgb(6, 14, 20);
  padding: 20px;
  border-radius: 30px;
}

article.MyNikolai{
  background-color: white;
  align-items: center;
  text-align: center;
  padding: 50px;
  font-size: 22px;
  border-radius: 20px;
}

article.Galery{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  max-width: 200%;
  gap: 5px;
}

div.Tarjet{
  max-width: 150%;
  background-color: rgb(27, 52, 66);
  padding: 5px;
  border-radius: 20px;
}

img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
}

p{
  text-align: center;
  font-size: 0.9rem;
  color: #ffffff;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

hr{
  border: none;
  height: 22px;
}